@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background: white;
    scroll-behavior: smooth !important;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

